@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Make font size 10px so it's easier to use rem and border box for consistent spacing */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  margin: 0;
}

.wrapper {
  width: 117rem;
  margin: 0 auto;
}

/* Header & Nav */
header {
  display: flex;
  justify-content: flex-end;
  margin-top: 8rem;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li:not(:last-child) {
  margin-right: 3.2rem;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

/* Intro */
.intro {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 2.4rem;
}

.intro img {
  width: 100%;
  box-shadow: -16px -16px #37647a;
}

.intro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro div h1 {
  margin: 0;
  text-transform: uppercase;
}

.intro div p {
  font-size: 2.4rem;
  color: #b6864b;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  margin: 0;
}

/* Portfolio */
.portfolio {
  margin-top: 18rem;
}

.portfolio h1 {
  text-align: center;
  margin: 0;
}

.portfolio-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.4rem;
  margin-top: 8rem;
}

.portfolio-projects h2 {
  text-align: center;
}

.project img {
  width: 100%;
  height: 40rem;
}

/* About */
.about {
  margin-top: 18rem;
}

.about h1 {
  text-align: center;
  margin-bottom: 8rem;
}

.about-content {
  display: grid;
  grid-template-columns: 60% 40%;
}

.about-content div p {
  margin: 0;
}

.about-content img {
  width: 100%;
  box-shadow: 16px -16px #b6864b;
}

/* Contact */
.contact {
  margin-top: 18rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'title title'
    'form map'
    'form map';
  grid-gap: 8rem 2.4rem;
}

.contact h1 {
  grid-area: title;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  grid-area: form;
}

.contact form label {
  margin-bottom: 0.8rem;
}

.contact form input {
  height: 4rem;
  margin-bottom: 1.6rem;
  border-radius: 0.4rem;
  outline: none;
  border: 0.4px solid lightgray;
}

.contact form textarea {
  height: 10rem;
  resize: none;
  border-radius: 0.4rem;
  outline: none;
  border: 0.4px solid lightgray;
}

.contact form button {
  height: 4rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #37647a;
  cursor: pointer;
  outline: none;
  color: #fff;
  margin-top: 3.2rem;
}

.contact div {
  grid-area: map;
}

.contact div ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact div ul li:not(:last-child) {
  margin-right: 1.6rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 18rem;
  margin-bottom: 4.8rem;
}

footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li:not(:last-child) {
  margin-right: 1.6rem;
}

footer ul li a {
  color: #000;
  text-decoration: none;
}

/* Media Queries */
