@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Make font size 10px so it's easier to use rem and border box for consistent spacing */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  width: 117rem;
  margin: 0 auto;
}

/* Header & Nav */
header {
  display: flex;
  justify-content: flex-end;
  margin-top: 8rem;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li:not(:last-child) {
  margin-right: 3.2rem;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

/* Intro */
.intro {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 2.4rem;
}

.intro img {
  width: 100%;
  box-shadow: -16px -16px #7a6aff;
}

.intro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro div h1 {
  margin: 0;
}

.intro div p {
  font-size: 2.4rem;
  color: #5ca5a5;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  margin: 0;
}
