@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

/* Make font size 10px so it's easier to use rem and border box for consistent spacing */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

header {
  height: 8rem;
  background: #000;
  color: #fff;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

/* Intro */
.intro {
  background: #56ccf2;
  height: 40rem;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.intro h1 {
  font-size: 3.2rem;
  width: 60%;
  letter-spacing: 0.15rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
}

/* About */
.about article {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
}

.about article img {
  width: 20%;
  border-radius: 100%;
  margin: 3.2rem 0;
}

.about article p {
  width: 60%;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 300;
}

.about article ol {
  width: 60%;
}

/* Footer */
footer {
  margin-top: 2.4rem;
  width: 100%;
  height: 6rem;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

footer ul {
  list-style: none;
  margin: 0;
}

footer ul li {
  display: inline-block;
  margin-left: 1.6rem;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:visited {
  color: purple;
}
